{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<div class="neos-contentcollection">
    <div class="cart">
        <f:if condition="{items}">
            <f:then>
                <div class="cartItem cartItemTitle">
                    <div class="cartImage">&nbsp;</div>
                    <div class="cartContent">
                        <div class="cartContentInner20">Produkt</div>
                        <div class="cartContentInner10 sub" style="text-align:right;">Preis</div>
                        <div class="cartContentInner10 quantinner" style="text-align:center;">Menge</div>
                        <div class="cartContentInner10" style="text-align:right;">Zwischensumme</div>
                        <div class="cartContentInner10">&nbsp;</div>
                    </div>
                </div>
                <f:for each="{items}" as="item">
                    <div class="cartItem">
                        <div class="cartImage"><img src="{item.image}" alt="" /></div>
                        <div class="cartContent">
                            <div class="cartContentInner20">
                                <strong>{item.articleTitle}</strong><br />
                                <f:format.crop maxCharacters="140"><f:format.stripTags>{item.articleDescription}</f:format.stripTags></f:format.crop>
                            </div>
                            <f:form action="updateItem" controller="Cart" package="NeosCommerce.Cart">
                                <div class="cartContentInner10 textRight sub">{item.price} &euro;<br /><small>inkl. {item.tax}% MwSt.</small></div>
                                <div class="cartContentInner10 textCenter quantinner"><f:form.textfield name="quantity" class="inputquant input" type="number" additionalAttributes="{pattern: '\d*'}" style="text-align:center;" value="{item.quantity}" /></div>
                                <div class="cartContentInner10 textRight">{item.fullprice} &euro;<br /><small>inkl. {item.tax}% MwSt.</small></div>
                                <div class="cartContentInner10 textRight">
                                    <f:form.hidden name="image" value="{item.image}" />
                                    <f:form.hidden name="id" value="{item.timestamp}" />
                                    <f:form.hidden name="title" value="{item.articleTitle}" />
                                    <f:form.hidden name="description" value="<f:format.stripTags>{item.description}</f:format.stripTags>" />
                                    <f:form.hidden name="price" value="{item.price}" />
                                    <f:form.hidden name="articlenumber" value="{item.articlenumber}" />
                                    <f:form.hidden name="timestamp" value="{item.timestamp}" />
                                    <f:form.hidden name="tax" value="{item.tax}" />
                                    <f:form.hidden name="taxinclusive" value="{item.taxinclusive}" />
                                    <f:form.hidden name="taxvalue" value="{item.taxvalue}" />
                                    <button type="submit"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                            </f:form>
                            <f:link.action action="removeItem" controller="cart" arguments="{id: item.timestamp}"><i class="fa fa-trash-o" aria-hidden="true"></i></f:link.action>
                        </div>
                    </div>
    </div>
    </f:for>

    <div class="cartFunctions">
        <f:link.action action="removeAll" class="deletecart" controller="cart">Warenkorb löschen</f:link.action>
        <a href="/" class="deletecart">Weiter einkaufen</a>
    </div>

    <div class="summary">
        <div class="summaryInner">
            <span class="summaryPrice">Zwischensumme: <strong>{subtotal} &euro;</strong></span><br />
            <span class="summaryPrice">Mehrwertsteuer: <strong>{taxvalue} &euro;</strong></span><br />
            <span class="summaryPrice total">Gesamtsumme: <strong>{fullprice} &euro;</strong></span><br />


            <f:form id="cartform" action="checkout" controller="Cart" package="NeosCommerce.Cart">


                <f:form.hidden name="subtotal" value="{subtotal}" />
                <f:form.hidden name="taxvalue" value="{taxvalue}" />
                <f:form.hidden name="fullprice" value="{fullprice}" />
                <f:form.hidden name="hidden" value="0" />

        </div>
    </div>

    <f:if condition="{items}">

        <f:for each="{items}" as="item" iteration="iterator">
            <f:form.hidden name="image{iterator.index}" value="{item.image}" />
            <f:form.hidden name="id{iterator.index}" value="{item.timestamp}" />
            <f:form.hidden name="title{iterator.index}" value="{item.title}" />
            <f:form.hidden name="description{iterator.index}" value="{item.description}" />
            <f:form.hidden name="price{iterator.index}" value="{item.price}" />
            <f:form.hidden name="articlenumber{iterator.index}" value="{item.articlenumber}" />
            <f:form.hidden name="tax{iterator.index}" value="{item.tax}" />
            <f:form.hidden name="taxinclusive{iterator.index}" value="{item.taxinclusive}" />
            <f:form.hidden name="taxvalue{iterator.index}" value="{item.taxvalue}" />
            <f:form.hidden name="quantity{iterator.index}" value="{item.quantity}" />
        </f:for>

    </f:if>
    <div class="dataform">
        <h2>Ihre Daten</h2>
        <ol class="formol">
            <li>
                <label for="firstname">Vorname: *</label>
                <f:form.textfield id="firstname" name="firstname" class="input" value="" placeholder="Vorname" />
                <span class="helpline" id="errorFirstName">Bitte geben Sie Ihren Vornamen ein.</span>
            </li>
            <li>
                <label for="lastname">Nachname: *</label>
                <f:form.textfield id="lastname" name="lastname" class="input" value="" placeholder="Nachname" />
                <span class="helpline" id="errorLastName">Bitte geben Sie Ihren Nachnamen ein.</span>
            </li>
            <li>
                <label for="address">Adresse:</label>
                <f:form.textfield id="address" name="address" class="input" value="" placeholder="Adresse" />
            </li>
            <li>
                <label for="zip">Postleitzahl:</label>
                <f:form.textfield id="zip" name="zip" class="input" value="" placeholder="Postleitzahl" />
            </li>
            <li>
                <label for="city">Ort:</label>
                <f:form.textfield id="city" name="city" class="input" value="" placeholder="Ort" />
            </li>
            <li>
                <label for="phone">Telefon: *</label>
                <f:form.textfield id="phone" name="phone" class="input" value="" placeholder="Telefon" />
                <span class="helpline" id="errorPhone">Bitte geben Sie Ihre Telefonnummer ein.</span>
            </li>
            <li>
                <label for="email">E-Mail Adresse: *</label>
                <f:form.textfield id="email" name="email" class="input" value="" placeholder="E-Mail Adresse" />
                <span class="helpline" id="errorEmail">Bitte geben Sie Ihre E-Mail Adresse ein.</span>
            </li>
        </ol>

        <f:form.submit class="btn" id="submitBtn" value="Bestellung absenden" />
        </f:form>
    </div>
    </f:then>
    <f:else>
        Ihr Warenkorb ist leer.
    </f:else>
    </f:if>
</div>

</div>